---
// component imports
import Layout from "@/layouts/Layout.astro";


const pageTitle = "Página no encontrada - Iratxe Conde - Publicista y Diseñadora Gráfica";
const pageDescription = "Lo sentimos, la página que buscas no existe. Regresa al inicio para explorar el portafolio y los proyectos de Iratxe Conde, publicista y diseñadora gráfica en Bilbao.";
const pageKeywords = "Página no encontrada, Error 404, Iratxe Conde, Publicista y diseñadora gráfica en Bilbao, Portafolio de diseño gráfico, Branding en Bilbao, Diseño gráfico en Bilbao, Vuelve al inicio, Proyectos de diseño gráfico, Servicios de branding";
const ogImage = "/Portafolio.webp";


const jsonLdOverrides = {
  "@type": "ErrorPage",
  "headline": {pageTitle},
  "description": {pageDescription},
  "image":  `${ogImage}`,

};

---

<Layout 
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  ogImage={ogImage}
  jsonLdOverrides={jsonLdOverrides}
>
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h2>Esto es raro!</h2>
      <p>Parece que hemos traspapelado algo</p>
    </div>
    <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold" href="/"> Volver al principio</a> 

  </div>
</Layout>