---
import SobreMi from "@/components/SobreMi.astro";
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Studies from "@/components/Studies.astro";
import SocialPills from "@/components/SocialPills.astro";
import ProfileSections from "@/components/ProfileSections.astro";

//Icons
import Briefcase from "@/components/icons/Briefcase.astro";
import School from "@/components/icons/School.astro";

const pageTitle = "Sobre Mí - Iratxe Conde - Publicista y Diseñadora Gráfica";
const pageDescription = "Iratxe Conde, publicista y diseñadora gráfica experta en Multimedia y Branding. Descubre su experiencia, formación y pasión por el diseño.";
const pageKeywords = "Iratxe Conde biografía, Publicista y diseñadora gráfica en Bilbao, Experiencia en diseño gráfico, Estudios en realización multimedia, Branding y diseño de marca, Trayectoria profesional de Iratxe Conde, Perfil creativo, Diseñadora gráfica freelance en Bilbao, Especialista en publicidad y diseño, Curriculum Vitae Iratxe Conde, Servicios de branding en Bilbao";
const ogImage = "/SobreMi.webp";

const jsonLdOverrides = {
  "@type": "AboutPage",
  "headline": {pageTitle},
  "description": {pageDescription},
  "image":  `${ogImage}`,
};



---



<Layout 
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  ogImage={ogImage}
  jsonLdOverrides={jsonLdOverrides}
>
    <Heading title="Sobre mí" />
    <!-- Hero Section -->
    <SobreMi />
    <SectionContainer backgroundImage="/imgs/Fondo1.webp">
        <h2 class="flex items-center gap-x-3 justify-center pb-0"> 
            <Briefcase class="size-8" />
            Experiencia Laboral</h2>
        <Experience />
    </SectionContainer>
    <br>
    <SectionContainer backgroundImage="/imgs/Fondo2.webp">
        <h2 class="flex items-center gap-x-3 justify-center  py-0 pb-2"> 
            <School class="size-9" />
            Estudios</h2>
        <Studies />
    </SectionContainer>
    <br>
    <SectionContainer backgroundImage="/imgs/Fondo3.webp">
        <ProfileSections/>
    </SectionContainer>

    <SocialPills/>
</Layout>