---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';

import Image from 'astro/components/Image.astro';
//Imagenes
import camuflajedef from '@/images/camuflaje-def.png';
import camuflajeinspo from '@/images/camuflaje-inspo.jpg';
import Galeria from '@/components/Galeria.astro';
import MasonryGalery from '@/components/MasonryGalery.astro';
import images from '@/images.json';

const Galeria1 =  [93, 94, 96];
const Galeria2 = [167, 168, 169];
const Galeria3 = [224, 225, 226, 227];
const Galeria4 = [17, 18, 19, 20];
const Galeria5 = [207,218,219,107,143,130,189,139];
const Galeria6 = [213,8,215,135,85,136,161,7,21];
const Galeria7 = [14,160,49,178,164,153,132,133,134,142,15]

const filteredGalery1 = images.filter(image => Galeria1.includes(image.id));
const filteredGalery2 = images.filter(image => Galeria2.includes(image.id));
const filteredGalery3 = images.filter(image => Galeria3.includes(image.id));
const filteredGalery4 = images.filter(image => Galeria4.includes(image.id));
const filteredGalery5 = images.filter(image => Galeria5.includes(image.id));
const filteredGalery6 = images.filter(image => Galeria6.includes(image.id));
const filteredGalery7 = images.filter(image => Galeria7.includes(image.id));

const Branding = [
    {
        "image": "img-57.webp",
        "alt": "Logo Charlotte Tilbury",
        "link": "CharlotteTilbury",
    },
    {
        "image": "img-62.webp",
        "alt": "Logo Tierra Madre",
        "link": "TierraMadre",
    },
    {
        "image": "img-239.webp",
        "alt": "Logo Dirdira",
        "link": "Dirdira",
    },
    {
        "image": "img-63.webp",
        "alt": "Logo Free Spirit",
        "link": "FreeSpirit",
    },
    {
        "image": "img-33.webp",
        "alt": "Logo Golf in One",
        "link": "GolfInOne",
    },
    {
        "image": "img-51.webp",
        "alt": "Logo Goxo",
        "link": "Goxo",
    },
]
---


<Layout title="Proyectos - Iratxe Conde - Publicista y Diseñadora Gráfica" description='Explora los proyectos creativos de Iratxe Conde, publicista y diseñadora gráfica. Descubre trabajos destacados en publicidad, diseño gráfico y multimedia.'>
    <Heading title="Proyectos"/>
    <h2>Branding</h2>
    <div class={`grid grid-cols-3 gap-2 mx-auto max-w-6xl pb-10 px-2`}>
        {Branding.map((image, i: number) => (
          <a href={`/Branding/${image.link}`}
             class="relative rounded-xl overflow-hidden hover:scale-105 transition-transform aspect-square">
            <img 
              src={`/imgs/${image.image}`} 
              alt={image.alt}
              class="object-cover w-full h-full"
              loading="eager" />
          </a>
        ))}
    </div>





      
    <h2>Diseños e ilustraciones</h2>
    <Galeria images={filteredGalery1} columns={3} />
    <Galeria images={filteredGalery2} columns={3} />
    <Galeria images={filteredGalery3} columns={4} />
    <Galeria images={filteredGalery4} columns={4} />
    <Galeria images={filteredGalery5} columns={4} />
    <h2>Publicidad</h2>
    <Galeria images={filteredGalery6} columns={3} />
    <h2>Ilustraciones de retratos
    </h2>
    <MasonryGalery images={filteredGalery7} columns={3} />



    
    <two-up class="w-[80%] mx-auto px-2">
        <div class="flex-1 h-full">
            <Image 
                src={camuflajedef} 
                alt="Camuflaje ilustración"
                class="w-full h-full object-cover" 
                format="webp" 
                width={1000} 
                quality={"high"}
            />
        </div>
        <div class="flex-1 h-full">
            <Image 
                src={camuflajeinspo} 
                alt="Camuflaje inspiración"
                class="w-full h-full object-cover" 
                format="webp" 
                width={1000} 
                quality={"high"}
            />
        </div>
    </two-up>
    
    <script type="module" src="https://unpkg.com/two-up-element"></script>

</Layout>