---
import 'photoswipe/style.css';

interface ImageData {
  src: string;
  alt: string;
  width: number;
  height: number;
}

interface Props {
  images: ImageData[];
  columns?: number;
}

const { images, columns = 4 } = Astro.props as Props;
---

<!-- Usa Grid para las columnas -->
<div class={`grid grid-cols-${columns} gap-2 mx-auto max-w-6xl pb-10`} id="gallery">
  {images.map((image, i: number) => (
    <a href={`/imgs/${image.src}`}
       target="_blank"
       data-pswp-width={image.width} 
       data-pswp-height={image.height} 
       class="relative rounded-xl overflow-hidden hover:scale-105 transition-transform aspect-square">
      <img 
        src={`/imgs/${image.src}`} 
        alt={image.alt}
        class="object-cover w-full h-full"
        loading="lazy" />
    </a>
  ))}
</div>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
  });
  lightbox.init();
</script>
