---
import onest from "@fontsource-variable/onest/files/onest-latin-wght-normal.woff2"

import RichResults from "@/components/RichResults.astro"
import type { Preload } from "@/types/Preload"

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const {
	title,
	description,
	preload,
	canonical ="https://www.iratxeconde.es",
	image = "https://www.iratxeconde.es/og.jpg",
} = Astro.props as Props



const canonicalURL = new URL(canonical, Astro.site)
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="author" content="Iratxe Conde" />


<link rel="preload" href={onest} as="font" type="font/woff2" crossorigin />

{
	preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
		<link {rel} {href} {as} {type} {crossorigin} />
	))
}

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="Diseñadora Gráfica Bilbao, Iratxe Conde Turon, Publicista especializada en branding, Identidad de marca y diseño gráfico, Portafolio de diseño y publicidad, Master en branding e identidad de marca" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@iratxeconde07" />
<meta name="twitter:creator" content="@iratxeconde07" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />


<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Iratxe Conde - Publicista y Diseñadora Gráfica" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/imgs/icons/apple-touch-icon.png" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<script is:inline src="/registerSW.js"></script>
<link rel="manifest" href="/manifest.webmanifest" />
<RichResults />
