---
import onest from "@fontsource-variable/onest/files/onest-latin-wght-normal.woff2"
import siteData from "../data/siteData.json";

import RichResults from "@/components/RichResults.astro"
import type { Preload } from "@/types/Preload"

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const {
	title,
	description,
	preload,
	canonical,
	image,
} = Astro.props as Props

// Si no se proporciona una imagen, usar la predeterminada
const imageUrl ="https://www.iratxeconde.es/images/og-image.jpg"

// Genera la URL canónica correcta
const canonicalURL = canonical ? new URL(canonical, Astro.site) : Astro.url
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="author" content="Iratxe Conde" />

<link rel="preload" href={onest} as="font" type="font/woff2" crossorigin />

{
	preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
		<link rel={rel} href={href} as={as} type={type} crossorigin={crossorigin} />
	))
}

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="Diseñadora Gráfica Bilbao, Iratxe Conde Turon, Publicista especializada en branding, Identidad de marca y diseño gráfico, Portafolio de diseño y publicidad, Master en branding e identidad de marca" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@iratxeconde07" />
<meta name="twitter:creator" content="@iratxeconde07" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageUrl} />

<!-- Open Graph -->
<meta property="og:image" content={imageUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content="Iratxe Conde - Publicista y Diseñadora Gráfica" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/imgs/icons/apple-touch-icon.png" />

<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="manifest" href="/manifest.webmanifest" />

<RichResults />
